
@model WebsiteCKC.Models.MatchViewModels

@{
    ViewBag.Title = "Table";
}
<div class="row">
    @if (TempData["MatchAdded"] != null)
    {
        <p class="text-info">@Html.Encode(TempData["MatchAdded"])</p>
    }
    
    @if(Model == null)
    {
        
    }
    <div class="col-md-5">
        <h3>Last results</h3>
        @*@Html.Partial("_LatestResults")*@
    </div>
    <div class="col-lg-7" style="border-left: 1px solid #eee">
        
        <h3>Stand @ViewBag.Competition.Class<span>e klasse groep 0</span>@ViewBag.Competition.Group</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-xs-1">#</th>
                    <th class="col-xs-3">Team</th>
                    <th class="col-xs-1">P</th>
                    <th class="col-xs-1">W</th>
                    <th class="col-xs-1">D</th>
                    <th class="col-xs-1">L</th>
                    <th class="col-xs-1">F</th>
                    <th class="col-xs-1">A</th>
                    <th class="col-xs-1">+-</th>
                    <th class="col-xs-1"><strong>P</strong></thclass="col-xs-1">

</tr>
            </thead>
            <tbody>
                @foreach (var team in ViewData["Teams"] as List<WebsiteCKC.Models.TeamStats>)
                {

                    <tr>
                        <td>@team.Position</td>
                        <td>@team.TeamName</td>
                        <td>@team.MatchesPlayed</td>
                        <td>@team.MatchesWon</td>
                        <td>@team.MatchesTied</td>
                        <td>@team.MatchesLost</td>
                        <td>@team.GoalsScored</td>
                        <td>@team.GoalsConceded</td>
                        <td>@team.GoalsAverage</td>
                        <td><strong>@team.Points</strong></td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary btn-primary" data-toggle="modal" data-target="#myModal">
            Add Match
        </button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Voeg een wedstrijd toe</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Add", "Match", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(x => x.MatchDate, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.MatchDate, new { @class = "form-control", @placeholder = "DD-MM-YYYY HH:MM" })
                            
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.HomeTeamID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            <select class="form-control" id="homeTeamSelect" name="homeTeamSelect">
                                <option value="none"></option>
                                @foreach (var team in ViewData["Teams"] as List<WebsiteCKC.Models.TeamStats>)
                                {
                                    <option value="@team.TeamID">@team.TeamName</option>
                                }
                            </select>
                            @Html.TextBoxFor(x => x.HomeTeamID, new { @class = "form-control", @id = "homeTeamID", @style="display: none;" })
                        </div>
                        @Html.LabelFor(x => x.HomeTeamScored, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-2">
                            @Html.TextBoxFor(x => x.HomeTeamScored, new { @class="form-control", @id = "homeTeamGoals"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AwayTeamID, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            <select class="form-control" id="awayTeamSelect" name="awayTeamSelect">
                                <option value="none"></option>
                                @foreach (var team in ViewData["Teams"] as List<WebsiteCKC.Models.TeamStats>)
                                {
                                    <option value="@team.TeamID">@team.TeamName</option>
                                }
                            </select>
                            @Html.TextBoxFor(x => x.AwayTeamID, new { @class = "form-control", @id = "awayTeamID", @style = "display: none;" })
                        </div>
                        @Html.LabelFor(x => x.AwayTeamScored, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-2">
                            @Html.TextBoxFor(x => x.AwayTeamScored, new { @class="form-control", @id = "awayTeamGoals"})
                        </div>
                    </div>
                    <input type="submit" value="Add Match" class="btn btn-primary" />
                }
            </div>

            <script>
                $(function () {
                    $("#homeTeamSelect").change(function (e) {
                        $("#homeTeamID").val(this.value);
                    })

                    $("#awayTeamSelect").change(function (e) {
                        $("#awayTeamID").val(this.value);
                    })
                });
            </script>
        </div>
    </div>
</div>






