@model WebsiteCKC.Models.CreateCompetitionView
<div class="row">
    <div class="col-lg-2" style="border-right: 1px solid #eee">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Configuration", "ControlPanel", "Admin")</li>
            <li class="active">@Html.ActionLink("Competition", "Competition", "Admin")</li>
            <li>@Html.ActionLink("Players", "Players", "Admin")</li>
            <li>@Html.ActionLink("Matches", "Matches", "Admin")</li>
        </ul>
    </div>
    <div class="col-lg-10">
        @if(ViewBag.Competition != null)
        {
            @Html.Partial("_ConfigCompetitionTable");
        }
        else
        {
            <p>U heeft nog geen competitie ingesteld. Om gebruik te maken van de applicatie wordt u gevraagd dit te doen.</p>
            using (Html.BeginForm("Competition", "Admin", FormMethod.Post, new { @class="form-horizontal" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Class, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Class, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Class, String.Empty, new { @class = "text-warning" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Group, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Group, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Group, String.Empty, new { @class = "text-warning" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <input type="submit" class="btn btn-primary col-sm-1" value="Creëer" />
                </div>
            }
        }
    </div>
</div>