@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-md-12" style="border-bottom: 1px solid #eee">
                <h2>Laatste nieuws</h2>
                @Html.Partial("_LatestNews")
            </div>
            <div class="col-md-6">
                <h2>Laatste wedstrijd</h2>
                @Html.Partial("_LastPlayedMatch")
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="border-left: 1px solid #eee;">
        <h2>Stand</h2>
        @if(ViewData["Teams"] != null)
        { 
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>G</th>
                        <th>P</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach(var team in ViewData["Teams"] as List<WebsiteCKC.Models.TeamStats>)
                    {
                    
                        <tr>
                            <td>@team.Position</td>
                            <td>@team.TeamName</td>
                            <td>@team.MatchesPlayed</td>
                            <td>@team.Points</td>
                        </tr>
                    }
                </tbody>
            </table>

            <p>@Html.ActionLink("Laatste stand", "Table", "Statistics", new { }, new { @class = "btn btn-default btn-sm" })</p>
        }
        else
        {
            <p class="text-warning">No teams in this competition.</p>
        }
    </div>
</div>
