@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>Welkom op de webpagina van @ViewBag.TeamName 5<small> Een getalenteerd team, waarbij de derde helft telt!</small></h1>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-md-11" style="border-bottom: 1px solid #eee">
                <h2>Laatste nieuws</h2>
                @*<p class="news-item">
                    <span class=" text-info">22-04-2014</span> - CKC versterkt zich met keeper.
                    @Html.ActionLink("Lees meer!", "Latest", "News")
                </p>
                <p class="news-item">
                    <span class=" text-info">22-04-2014</span> - CKC versterkt zich met keeper.
                    @Html.ActionLink("Lees meer!", "Latest", "News")
                </p>
                <p class="news-item">
                    <span class=" text-info">22-04-2014</span> - CKC versterkt zich met keeper.
                    @Html.ActionLink("Lees meer!", "Latest", "News")
                </p>*@
                <p>@Html.ActionLink("Laatste nieuws", "Latest", "News", new { @class = "btn btn-default btn-sm" })</p>
            </div>
            <div class="col-md-6">
                <h2>Laatste wedstrijd</h2>
                <p class="text-success">14-03-2014</p>
                <p>vvCKC 5 - SVS 4</p>
                <p>Uitslag: 1 - 3</p>
                <p>@Html.ActionLink("Toon gegevens", "Details", "Match", new { @class = "btn btn-default btn-sm" })</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="border-left: 1px solid #eee;">
        <h2>Stand</h2>
        @if(ViewData["Teams"] != null)
        { 
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>G</th>
                        <th>P</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var team in ViewData["Teams"] as List<Team>)
                    {
                    
                        <tr>
                            <td>@team.ID</td>
                            <td>@team.ClubName @team.TeamNumber</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    }
                </tbody>
            </table>

            <p>@Html.ActionLink("Laatste stand", "Details", "Competition", new { @class = "btn btn-default btn-sm" })</p>
        }
        else
        {
            <p class="text-warning">No teams in this competition.</p>
        }
    </div>
</div>
