@model WebsiteCKC.Models.MatchResult

    @if (ViewData["Results"] != null)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                @foreach (var result in ViewData["Results"] as List<WebsiteCKC.Models.MatchResult>)
                {
                    <tr>
                        <td>@result.MatchPlayed.Date</td>
                        <td><a href="#">@result.HomeTeamName</a></td>
                        <td><strong>@result.HomeTeamScored</strong></td>
                        <td>-</td>
                        <td><strong>@result.AwayTeamScored</strong></td>
                        <td>@result.AwayTeamName</td>
                    </tr>
                }  
            </tbody>
        </table>
    }
    else
    {
        <p> No matches found.</p>
    }

